/* PC */

@media (min-width:1024px) {
    #menu-mobile {
        display: none;
    }
}


/* Tablet */

@media (min-width:740px) and (max-width:1024px) {
    #menu-mobile {
        display: none;
    }
}


/* Mobile */

@media (max-width:740px) {
    #header-menu-item {
        display: block;
        background: black;
    }
    #header-menu-item:first-child {
        display: inline-block;
    }
    #header-menu {
        overflow: hidden;
    }
    #header-menu-icon {
        display: none;
    }
    #header-menu-list {
        display: block;
        width: 100%;
    }
    #menu-nav {
        position: initial;
    }
    #conten-list-avt {
        width: 100%;
    }
    #conten-one-tour-list-buy-item {
        width: 100%;
    }
    #btn {
        width: 100%;
    }
    #footer-contact-address {
        display: block;
        width: 100%;
    }
    #footer-contact-out {
        width: 100%;
        display: block;
    }
    .footer-input {
        margin-top: 8px;
    }
    #footer-btn {
        width: 100%;
    }
}